body {
    background-color: #e2e2e2;
    font-family: 'Ubuntu', sans-serif;
}

a {
    text-decoration: none;
}

/* main-design */
.main {
    background-color: white;
    width: 400px;
    height: 400px;
    margin: 200px auto;
    border-radius: 40px;
    box-shadow: 10px 11px 35px 2px rgba(0, 0, 0, 0.50);
}

/* main-design */

/* sigh-design */
.sign {
    text-align: center;
    padding-top: 45px;
    color: #8c55AA;
    font-family: 'Ubuntu', sans-serif;
    font-weight: bold;
    font-size: 25px;

}

/* sigh-design */


/* user_name-design */
.user_Name {
    width: 75%;
    color: rgb(38, 58, 36);
    font-family: 'Ubuntu', sans-serif;
    font-weight: 700;
    font-size: 15px;
    letter-spacing: 1px;
    background: rgba(23, 23, 23, 0.06);
    padding: 10px 20px;
    outline: none;
    border: none;
    border-radius: 20px;
    box-sizing: border-box;
    border: 2px solid rgba(0, 0, 0, 0.15);
    margin-bottom: 30px;
    margin-left: 45px;
    text-align: center;

}

/* user_name-design */


/* pass-design */
.pass {
    width: 75%;
    color: rgb(38, 58, 36);
    font-family: 'Ubuntu', sans-serif;
    font-weight: 700;
    font-size: 15px;
    letter-spacing: 1px;
    background: rgba(23, 23, 23, 0.06);
    padding: 10px 20px;
    outline: none;
    border: none;
    border-radius: 20px;
    box-sizing: border-box;
    border: 2px solid rgba(0, 0, 0, 0.15);
    margin-bottom: 30px;
    margin-left: 45px;
    text-align: center;
}

/* password-design */



/* submit-design */
.submit {
    cursor: pointer;
    border: 5rem;
    color: white;
    background: linear-gradient(to right, #9C27B0, #E040FB);
    border: none;
    padding-left: 40px;
    padding-right: 40px;
    padding-top: 10px;
    padding-bottom: 10px;
    text-align: center;
    border-radius: 25px;
    font-family: 'Ubuntu', sans-serif;
    font-size: 14px;
    margin-left: 33%;
    box-shadow: 0px 0px 20px 1px rgba(0, 0, 0, 0.05);
}

/* submit-design */



/* forgot-design */
.forgot {
    text-align: center;
    text-shadow: 0px 0px 300px rgba(117, 117, 117, 1.2%);
    padding: 20px 0px 0px 0px;
    color: #E1BEE7;
}

.forgot a{
    text-shadow: 0px 0px 300px rgba(117, 117, 117, 0.15);
    color: #ad91b2;
}

/* forgot-design */